<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a ng-href="#/image-collection/list">Collection</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Edit</li>
</ul>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <ng-form name="formCollection">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-floating-label form-md-line-input">
                                <input class="form-control" type="text" ng-model="title" name="title" ui-validate="{isRequired: 'isRequired($value)'}" ui-validate-async="{existTitle: 'exist($value, \'title\')'}" ng-model-options='{ debounce: delayTypeTime }'/>
                                <label>Title <span class="required" aria-required="true"> * </span></label>
                            </div>
                            <div ng-show="formCollection.title.$invalid && formCollection.title.$dirty || formCollection.title.$pending.existTitle">
                                <span class="default" ng-show="formCollection.title.$pending.existTitle">
                                    Verifying title on server...
                                </span>
                                <span class="alert-danger" ng-show="formCollection.title.$dirty && formCollection.title.$error.existTitle">
                                    Title already exists.
                                </span>
                                <span class="alert-danger" ng-show="formCollection.title.$dirty && formCollection.title.$error.isRequired">
                                    This field is required.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="switch-isActive-id" class="customize-lable">Active:  <span class="required" aria-required="true"> * </span></label><br/>
                                <toggle-switch id="switch-isActive-id"
                                               ng-model="isActive"
                                               class="switch-large switch-success"
                                               html="true"
                                               on-label="<i class='fa fa-check'></i>Yes"
                                               off-label="<i class='fa fa-times'></i>No" >
                                </toggle-switch>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="switch-isTopFeatured-id" class="customize-lable">Top Featured:  <span class="required" aria-required="true"> * </span></label><br/>
                                <toggle-switch id="switch-isTopFeatured-id"
                                               ng-model="isTopFeatured"
                                               class="switch-large switch-success"
                                               html="true"
                                               on-label="<i class='fa fa-check'></i>Yes"
                                               off-label="<i class='fa fa-times'></i>No" >
                                </toggle-switch>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="switch-isFeatured-id" class="customize-lable">Featured:  <span class="required" aria-required="true"> * </span></label><br/>
                                <toggle-switch id="switch-isFeatured-id"
                                               ng-model="isFeatured"
                                               class="switch-large switch-success"
                                               html="true"
                                               on-label="<i class='fa fa-check'></i>Yes"
                                               off-label="<i class='fa fa-times'></i>No" >
                                </toggle-switch>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <select class="form-control" ng-model="contentType" ng-options="item for item in contentTypes" name="contentType" ui-validate="{isRequired: 'isRequired($value)'}"></select>
                                <label>Content Type <span class="required" aria-required="true"> * </span></label>
                            </div>
                            <div ng-show="formCollection.contentType.$invalid && formCollection.contentType.$dirty">
                                <span class="alert-danger" ng-show="formCollection.contentType.$dirty && formCollection.contentType.$error.isRequired">
                                    This field is required.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <textarea class="form-control" ng-model="description" rows="4"></textarea>
                                <label>Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <br>
                                <label class="customize-lable"> Image Cover :</label>
                                <upload-file
                                        type="image"
                                        file-model="imgCover"
                                        directive-model="fImgCover"
                                        max-size-mb="1"
                                        box-width="200"
                                        remove-title="remove"
                                        remove-class="fa fa-remove"
                                        upload-title="upload"
                                        upload-class="icon-cloud-upload"
                                        not-found-image-path="/app/resource/images/not-found.png"
                                        image-holder-id="imgCoverHolderId"
                                        remove-btn-id="imgCoverRemoveId"
                                        file-type="image/*"
                                        form-name="imgCoverForm"
                                        get-image-function="action/image"
                                        collection-id="imgCollectionId"
                                        table="imageCollection"
                                        remove-file="removeFile">
                                </upload-file>
                            </div>
                        </div>
                    </div>
                    <br/><br/>

                    <div class="form-actions noborder">

                        <div class="row">
                            <div class="col-md-offset-10">
                                <!--<button type="button" class="btn btn-success" click-method="itemSave()" ng-disabled="formCollection.$invalid">-->
                                    <!--<i class="fa fa-check"></i>-->
                                    <!--SAVE-->
                                <!--</button>-->
                                <custom-button
                                        title="save"
                                        icon-class="fa-check"
                                        disabled-condition="formCollection.$invalid"
                                        button-type="button"
                                        click-method="itemSave()"
                                        class-name="green">
                                </custom-button>


                                <custom-button
                                        title="cancel"
                                        icon-class="fa-remove"
                                        button-type="button"
                                        state-name="root.imageCollectionList"
                                        class-name="red">
                                </custom-button>
                            </div>
                        </div>

                    </div>
                </ng-form>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

<script type="text/javascript">
    setTimeout(function() {
        App.init();
    }, 100);
</script>





