
<!--<div class="wrap-loading">
    <img src="resource/theme/django/images/loading.gif" class="img-loading" width="50" height="50" alt="loading">
</div>-->
<style>
    .centerLoading{
        text-align: center;
        width: 100%;
        position: absolute;
        top:50%;
    }
</style>
<div class="centerLoading">
    <div class="loading-message wrap-loading">
        <div class="block-spinner-bar-front">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

    </div>
</div>