
<!-- BEGIN: CONTENT/FEATURES/FEATURES-2 -->
<div class="c-layout-page">
    <div class="slider-content">
        <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(http://ak.picdn.net/assets/cms/2d850dac5bcfcb86514922660d6e357aa44fd06e-crop-shutterstock_310408637.jpg)">
            <div class="container">
                <div class="c-content-feature-3-grid">
                    <div class="c-content-feature-8 c-opt-1">
                        <ul class="c-grid">
                            <li class="pull-right">
                                <div class="c-card gray-box" style="text-align: left">
                                    <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">Photos</h3>
                                    <p class="c-font-white c-font-18" style="border-bottom:1px solid gray ;padding-bottom: 10px;margin-bottom: 10px"> High-quality stock photos to help bring your ideas to life. </p>
                                    <h3 class=" c-font-white c-font-bold c-font-uppercase">See Plans & Pricing</h3>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="overlap">
                <!--<div class="row" style="margin-right: 30px;margin-left: 30px">-->
                <div class="col-md-12" style="background-color: #fff">

                    <div class="col-md-3 image-box-padding-10 image-box-overly" ng-repeat="topImage in topImageCategory" >
                        <a href="" >
                            <img ng-src="{{path}}/imageCategory/action/cover_image/{{topImage.id}}?{{date}}" alt="" class="overlap-image">
                        </a>
                        <div class="image-subject-overlay">
                            <div class="image-subject">
                                <h3 class="frank light" >
                                    <a href="{{path}}/imageCategory/action/cover_image/{{topImage.id}}?{{date}}" class="fa-size-15">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        {{topImage.title}}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/7987090cee0b1d18d061993cfab25f3e7e05a856-shutterstock_284481272.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Background-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/83b5cd580e72349da3ceb1b123eeb9739b6e704b-shutterstock_241267642.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Business-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/8057504c69b2ff4466f06884195846dd063c532e-shutterstock_182681726.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Kids-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/e7cf17ed05af7ccaa83692757c80fd90cf94a1e2-shutterstock_168087341 9.10.48 AM.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Food-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/76e8c4be3230e7ced78fbba700602245532fe608-shutterstock_70558099.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Portrait-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly ">-->

                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/6852b04523b7ae7f8ebec1735c2aab26c4fa0361-shutterstock_175627412.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Flowers-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/8d8e6ea51118138098f4c4a0921084a4687d4806-shutterstock_283627865.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Travel-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-12" ng-if="showTopHitsImageSearch">
                        <div class="col-md-4">
                            <h1 class="font-h1">Popular Photo Searches</h1>
                        </div>
                        <div class="col-md-2" ng-repeat="(topImageCategoryKey, topImageCategoryValue) in topHitsImageSearch" >
                            <ul class="list-ul">
                                <li style="    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-repeat="topImageCategoryItem in topImageCategoryValue">
                                    <span>{{($parent.$index *5)+$index+1}}</span>
                                    <a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Sky">
                                        <span>{{topImageCategoryItem.title}}</span>
                                    </a>
                                </li>
                                <!--<li><span>2</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Background"><span>Background</span></a></li>-->
                                <!--<li><span>3</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Business"><span>Business</span></a></li>-->
                                <!--<li><span>4</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Beach"><span>Beach</span></a></li>-->
                                <!--<li><span>5</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Food"><span>Food</span></a></li>-->
                            </ul>
                        </div>
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>6</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Business"><span>Business</span></a></li>-->
                                <!--<li><span>7</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Football%20Player"><span>Football Player</span></a></li>-->
                                <!--<li><span>8</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Wood"><span>Wood</span></a></li>-->
                                <!--<li><span>9</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Family"><span>Family</span></a></li>-->
                                <!--<li><span>10</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Fitness"><span>Fitness</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>11</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Travel"><span>Travel</span></a></li>-->
                                <!--<li><span>12</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Wood%20Texture"><span>Wood Texture</span></a></li>-->
                                <!--<li><span>13</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Fashion"><span>Fashion</span></a></li>-->
                                <!--<li><span>14</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Valentines%20Day"><span>Valentines Day</span></a></li>-->
                                <!--<li><span>15</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Coffee"><span>Coffee</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>16</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Abstract"><span>Abstract</span></a></li>-->
                                <!--<li><span>17</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Water"><span>Water</span></a></li>-->
                                <!--<li><span>18</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Paper%20Texture"><span>Paper Texture</span></a></li>-->
                                <!--<li><span>19</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=2015"><span>2015</span></a></li>-->
                                <!--<li><span>20</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Spa"><span>Spa</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                </div>



                <!--</div>-->

            </div>
        </div>
    </div>
    <br>
    <div class="row" ng-if="showFeatureCollection">
        <div class="container-flout feature-photo-collection">
            <div class="c-content-box c-bg-grey-1  ">
                <div class="container" style="padding: 0 50px 50px;">
                    <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                        <h2>Featured Photo Collections</h2>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 " ng-repeat="feature in featureCollection">
                                <img class="overlap-image image-box-padding-10" ng-src="{{feature.imgCoverFileDescriptor}}"  alt="">
                                <div class="feature-image-description">
                                    <a href="javascript:;">
                                        <small>Collection</small>
                                        {{feature.title}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" ng-if="showTopEditorialChooseImage || showTopEditoralChoose ">
        <div class="container-flout ">
            <div class="c-content-box">
                <div class="container" style="padding: 30px 50px 50px;">
                    <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                        <h2>Popular Editorial Searches</h2>
                        <div class="row" ng-if="showTopEditorialChooseImage">
                            <div class="col-md-3 col-sm-6 image-box-overly" ng-repeat="editoralImage in topEditorialChooseImage">

                                <a href="">
                                    <img class="overlap-image image-box-padding-10" ng-src="{{path}}/imageCategory/action/cover_image/{{topImage.id}}?{{date}}" alt="">
                                </a>
                                <div class="image-subject-overlay">
                                    <div class="image-subject">
                                        <h3 class="frank light" >
                                            <a href="javascript:;">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                {{editoralImage.title}}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="showTopEditoralChoose">
                            <div class="col-md-3 col-sm-6 " ng-repeat="(topEditoralChooseKey, topEditoralChooseValue) in topEditoralChoose">
                                <ul class="popular-editorial-searches">
                                    <li  ng-repeat="topEditoral in topEditoralChooseValue">

                                        <a href="javascript:;">
                                            {{topEditoral.title}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

