
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body" >There is no statistic tool yet. it will be available soon.</div>
        </div>
    </div>
</div>
<!--<div class="portlet light bordered" ng-if="showPanelVendor">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="row">-->
                <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                            <!--<price-statistics unique-id="price-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></price-statistics>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row" style="padding-top: 10px;">-->
                        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                            <!--<staff-statistics unique-id="staff-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></staff-statistics>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                    <!--<block-statistics unique-id="block-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></block-statistics>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                    <!--<group-statistics unique-id="group-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></group-statistics>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                    <!--<apply-pricing-statistics unique-id="apply-pricing-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></apply-pricing-statistics>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row" ng-show="false">-->
                <!--<div class="col-md-12">-->
                    <!--<cart-and-order-statistics-directive unique-id="cart-and-order-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="true"></cart-and-order-statistics-directive>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                    <!--<vendor-category-statistics unique-id="vendor-category-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></vendor-category-statistics>-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                    <!--<customer-type unique-id="cart-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></customer-type>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                    <!--<cart-statistics unique-id="cart-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></cart-statistics>-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<order-statistics unique-id="order-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></order-statistics>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<message-statistics unique-id="message-statistics-1" mode="vendor" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl" loading="false"></message-statistics>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="portlet light bordered" ng-if="showPanelCustomer">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="row">-->
                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<vendor-category-statistics loading="false" unique-id="vendor-category-statistics-1" mode="customer" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl"></vendor-category-statistics>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<order-statistics loading="false" unique-id="order-statistics-1" mode="customer" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl"></order-statistics>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                    <!--<cart-statistics loading="false" unique-id="cart-statistics-1" mode="customer" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl"></cart-statistics>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<message-statistics loading="false" unique-id="message-statistics-1" mode="customer" user-id="userProfile.id" vendor-id="vendorProfile.id" redirect-url="vendorUrl"></message-statistics>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->