<style type="text/css">
    .form-group {
        margin: 30px 0 0 0 !important;
        margin-top: 15px !important;
    }

    .addForm input {
        margin-bottom: 5px;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active">
        <a href="#/publisher/list">Publisher</a>
    </li>
    <i class="fa fa-circle"></i>
    <li> Add</li>
</ul>
<div class="row viewLoading">
    <div class="col-md-12 ">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form role="form" name="addForm" class="addForm" novalidate>
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input
                                            ui-validate="{isRequired : 'isRequired($value)'}"
                                            ui-validate-async="{titleAlreadyExists : 'titleExist($modelValue)' }"
                                            name="title"
                                            ng-model="title"
                                            type="text"
                                            class="form-control"
                                            id="user_title"
                                            value="">
                                    <label for="user_title">Title <span class="required" aria-required="true"> * </span></label>
                                </div>
                                <div ng-show="addForm.title.$invalid && addForm.title.$dirty || addForm.title.$pending.titleAlreadyExists">
                                    <span class="default" ng-show="addForm.title.$pending.titleAlreadyExists">Verifying title on server...</span>
                                    <span class="alert-danger"
                                          ng-show="addForm.title.$dirty && addForm.title.$error.isRequired">This field is required</span>
                                    <span class="alert-danger"
                                          ng-show="addForm.title.$dirty && addForm.title.$error.titleAlreadyExists">Title already exists</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <div class="md-checkbox-list">
                                    <div>
                                        <span  style="font-size: 16px !important; font-weight: bold; color: #888888;">
                                            Type of publication
                                        </span>
                                        <span class="required" aria-required="true" style="color: #e02222"> * </span>
                                    </div>
                                    <div class="row" style="position: relative; top:20px">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox1" class="md-check" ng-change="selectType()" ng-model="checkbox.image">
                                                <label for="checkbox1">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Image</label>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox2" class="md-check" ng-change="selectType()" ng-model="checkbox.video">
                                                <label for="checkbox2">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Video</label>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox3" class="md-check" ng-change="selectType()" ng-model="checkbox.audio">
                                                <label for="checkbox3">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Audio </label>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="margin-top: 30px">
                            <div class="col-md-12">
                                <label for="user-multi-id" style="font-weight: bold; color: #888888;"><h4 class="titleFieldClass">
                                    <span>Users</span>
                                    <!--<span class="required" aria-required="true" style="color: #e02222;"> * </span>-->
                                </h4></label>

                                <div class="input-icon right" style="float: right">
                                    <i class="icon-magnifier"></i>
                                    <input type="search" class="form-control input-circle" placeholder="Search..." style="font-size: 14px; font-weight: bold;" ng-model="searchUser" id="search-user-multi-id" ng-change="searchMultiSelect('user-multi-id', 'user')" ng-model-options='{ debounce: delayTypeTime }' />
                                </div>

                                <select multiple="multiple" class="multi-select" id="user-multi-id">
                                    <option ng-repeat="user in users" ng-value="user._id">
                                        {{user.fullName}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <textarea style="height: 100px" type="text" class="form-control" ng-model="about"></textarea>
                                    <label>About</label>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="switch-isActive-id" class="customize-lable">Active: </label><br/>
                                    <toggle-switch id="switch-isActive-id"
                                                   ng-model="isActive"
                                                   class="switch-large switch-success"
                                                   html="true"
                                                   on-label="<i class='fa fa-check'></i>Yes"
                                                   off-label="<i class='fa fa-times'></i>No" >
                                    </toggle-switch>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="switch-isActive-id" class="customize-lable">Expired: </label><br/>
                                    <toggle-switch id="switch-isExpired-id"
                                                   ng-model="isExpired"
                                                   class="switch-large switch-success"
                                                   html="true"
                                                   on-label="<i class='fa fa-check'></i>Yes"
                                                   off-label="<i class='fa fa-times'></i>No" >
                                    </toggle-switch>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="switch-isActive-id" class="customize-lable">Pending: </label><br/>
                                    <toggle-switch id="switch-isPending-id"
                                                   ng-model="isPending"
                                                   class="switch-large switch-success"
                                                   html="true"
                                                   on-label="<i class='fa fa-check'></i>Yes"
                                                   off-label="<i class='fa fa-times'></i>No" >
                                    </toggle-switch>

                                </div>
                            </div>
                        </div>


                        <br/><br/>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <br>
                                    <label class="customize-lable"> Publisher Avatar :</label>
                                    <upload-file
                                            type="image"
                                            file-model="avatar"
                                            directive-model="fAvatar"
                                            max-size-mb="15"
                                            remove-title="remove"
                                            remove-class="fa fa-remove"
                                            upload-title="upload"
                                            upload-class="icon-cloud-upload"
                                            not-found-image-path="/app/resource/images/not-found.png"
                                            image-holder-id="addAvatarHolderId"
                                            remove-btn-id="addAvatarRemoveId"
                                            file-type="image/*"
                                            form-name="addSlideshowrForm">
                                    </upload-file>
                                </div>
                            </div>


                            <div class="col-md-6 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <br>
                                    <label class="customize-lable"> Publisher Cover :</label>
                                    <upload-file
                                            type="image"
                                            file-model="cover"
                                            directive-model="fCover"
                                            max-size-mb="15"
                                            remove-title="remove"
                                            remove-class="fa fa-remove"
                                            upload-title="upload"
                                            upload-class="icon-cloud-upload"
                                            not-found-image-path="/app/resource/images/not-found.png"
                                            image-holder-id="addCoverHolderId"
                                            remove-btn-id="addCoverRemoveId"
                                            file-type="image/*"
                                            form-name="addSlideshowrForm">
                                    </upload-file>
                                </div>
                            </div>
                        </div>




                        <br/><br/>

                        <div class="form-actions noborder">

                            <div class="row">
                                <div class="col-md-offset-10">
                                    <custom-button
                                            title="save"
                                            icon-class="fa-check"
                                            disabled-condition="!(!addForm.$invalid && typeOfPublication.length && selectMultiUser.length)"
                                            button-type="button"
                                            click-method="addFunction(avatar, cover)"
                                            class-name="green">
                                    </custom-button>


                                    <custom-button
                                            title="cancel"
                                            icon-class="fa-remove"
                                            button-type="button"
                                            state-name="root.publisherList"
                                            class-name="red">
                                    </custom-button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>