<style type="text/css">
    .form-group {
        margin: 30px 0 0 0 !important;
        margin-top: 15px !important;
    }

    .login-content > .login-form input {
        margin-bottom: 5px;
    }
</style>
<div class="login-content viewLoading">

    <div ng-show="!isValid" class="portlet light bordered" style="background-color: rgba(255,255,255,0.4); margin-top: 30px">

        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">validation information</span>
            </div>
        </div>
        <div class="portlet-body">
            <p>
                {{notValidText}}
                <br>
                Please contact to your admin.
            </p>
        </div>
    </div>



    <form ng-show="isValid" name="resetPasswordForm" class="login-form" novalidate>
        <h3 ng-show="isValid"> Reset password</h3>
        <div class="row">

            <!-- Password -->
            <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input
                            ui-validate="{isRequired : 'isRequired($value)', hasMinLength : 'hasMinLength($value)'}"
                            ng-model="password"
                            type="password"
                            class="form-control"
                            name="password"
                            value=""
                            ng-change="emptyConfirmpass()">
                    <label for="password">Password</label>
                </div>
                <div ng-show="resetPasswordForm.password.$invalid && resetPasswordForm.password.$dirty">
                    <span class="alert-danger" ng-show="resetPasswordForm.password.$error.isRequired">This field is required</span>
                    <span class="alert-danger" ng-show="resetPasswordForm.password.$error.hasMinLength">Minimum password length is 6 characters</span>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input
                            ui-validate="{isRequired : 'isRequired($value)', confirmPass : 'confirmPass($value)'}"
                            ng-model="confirmPassword"
                            type="password"
                            class="form-control"
                            name="confirmPassword"
                            value="">
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <div ng-show="resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$dirty">
                    <span class="alert-danger" ng-show="resetPasswordForm.confirmPassword.$error.isRequired">This field is required</span>
                    <span class="alert-danger" ng-show="resetPasswordForm.confirmPassword.$error.confirmPass">Does not match with password</span>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 text-right">
                <button ng-disabled="resetPasswordForm.$invalid" type="submit" ng-click="resetPass()" class="btn green">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>