
<!-- BEGIN: CONTENT/FEATURES/FEATURES-2 -->
<div class="c-layout-page">
    <div class="slider-content">
        <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(http://ak.picdn.net/assets/cms/3b9a67e87de59e569afecc4cb05be18c327644c2-crop-shutterstock_333060515.jpg)">
            <div class="container">
                <div class="c-content-feature-3-grid">
                    <div class="c-content-feature-8 c-opt-1">
                        <ul class="c-grid">
                            <li class="pull-right">
                                <div class="c-card gray-box" style="text-align: left">
                                    <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">Vectors</h3>
                                    <p class="c-font-white c-font-18" style="border-bottom:1px solid gray ;padding-bottom: 10px;margin-bottom: 10px"> Scalable graphics and illustrations for your designs. </p>
                                    <h3 class=" c-font-white c-font-bold c-font-uppercase">See Plans & Pricing</h3>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="overlap">
                <!--<div class="row" style="margin-right: 30px;margin-left: 30px">-->
                <div class="col-md-12" style="background-color: #fff">
                    <div class="col-md-3 image-box-padding-10 image-box-overly" ng-repeat="topImage in topImageCategory" >
                        <a href="" >
                            <img ng-src="{{path}}/imageCategory/action/cover_image/{{topImage.id}}?{{date}}" alt="" class="overlap-image">
                        </a>
                        <div class="image-subject-overlay">
                            <div class="image-subject">
                                <h3 class="frank light" >
                                    <a href="/{{path}}/imageCategory/action/cover_image/{{topImage.id}}?{{date}}" class="fa-size-15">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        {{topImage.title}}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly" >-->
                        <!--<a href="" >-->
                            <!--<img src="http://ak.picdn.net/assets/cms/6852b04523b7ae7f8ebec1735c2aab26c4fa0361-shutterstock_175627412.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Architecture-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/7987090cee0b1d18d061993cfab25f3e7e05a856-shutterstock_284481272.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Background-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/83b5cd580e72349da3ceb1b123eeb9739b6e704b-shutterstock_241267642.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Business-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/8057504c69b2ff4466f06884195846dd063c532e-shutterstock_182681726.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Kids-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/e7cf17ed05af7ccaa83692757c80fd90cf94a1e2-shutterstock_168087341 9.10.48 AM.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Food-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/76e8c4be3230e7ced78fbba700602245532fe608-shutterstock_70558099.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Portrait-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly ">-->

                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/6852b04523b7ae7f8ebec1735c2aab26c4fa0361-shutterstock_175627412.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Flowers-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 image-box-padding-10 image-box-overly">-->
                        <!--<a href="">-->
                            <!--<img src="http://ak.picdn.net/assets/cms/8d8e6ea51118138098f4c4a0921084a4687d4806-shutterstock_283627865.jpg" alt="" class="overlap-image">-->
                        <!--</a>-->
                        <!--<div class="image-subject-overlay">-->
                            <!--<div class="image-subject">-->
                                <!--<h3 class="frank light" >-->
                                    <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                        <!--Travel-->
                                    <!--</a>-->
                                <!--</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-12" ng-if="showTopHitsImageSearch">
                        <div class="col-md-4">
                            <h1 class="font-h1">Popular Photo Searches</h1>
                        </div>
                        <div class="col-md-2" ng-repeat="(topImageCategoryKey, topImageCategoryValue) in topHitsImageSearch" >
                            <ul class="list-ul">
                                <li style="    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-repeat="topImageCategoryItem in topImageCategoryValue">
                                    <span>{{($parent.$index *5)+$index+1}}</span>
                                    <a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Sky">
                                        <span>{{topImageCategoryItem.title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                        <!--<div class="col-md-4">-->
                            <!--<h1 class="font-h1">Popular Vector Searches</h1>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>1</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Sky"><span class="text-subject">Infographics</span></a></li>-->
                                <!--<li><span>2</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Background"><span class="text-subject">Pattern</span></a></li>-->
                                <!--<li><span>3</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Business"><span class="text-subject">Background</span></a></li>-->
                                <!--<li><span>4</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Beach"><span class="text-subject">Abstract</span></a></li>-->
                                <!--<li><span>5</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Food"><span class="text-subject">2015</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>6</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Business"><span class="text-subject">Icon</span></a></li>-->
                                <!--<li><span>7</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Football%20Player"><span class="text-subject">Banner</span></a></li>-->
                                <!--<li><span>8</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Wood"><span class="text-subject">Vector</span></a></li>-->
                                <!--<li><span>9</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Family"><span class="text-subject">Logo</span></a></li>-->
                                <!--<li><span>10</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Fitness"><span class="text-subject">Valentines Day</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>11</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Travel"><span class="text-subject">Design</span></a></li>-->
                                <!--<li><span>12</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Wood%20Texture"><span class="text-subject">Heart</span></a></li>-->
                                <!--<li><span>13</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Fashion"><span class="text-subject"> Arrow</span></a></li>-->
                                <!--<li><span>14</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Valentines%20Day"><span class="text-subject">Chinese New Year</span></a></li>-->
                                <!--<li><span>15</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Coffee"><span class="text-subject">Flower</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<ul class="list-ul">-->
                                <!--<li><span>16</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Abstract"><span class="text-subject">Happy New Year 2015</span></a></li>-->
                                <!--<li><span>17</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Water"><span class="text-subject">Ribbon</span></a></li>-->
                                <!--<li><span>18</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Paper%20Texture"><span class="text-subject">World Map</span></a></li>-->
                                <!--<li><span>19</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=2015"><span class="text-subject">Happy New Year</span></a></li>-->
                                <!--<li><span>20</span><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Spa"><span class="text-subject">Abstract Background</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>



                <!--</div>-->

            </div>
        </div>
    </div>
    <br>
    <!--<div class="row">-->
        <!--<div class="container-flout feature-photo-collection">-->
            <!--<div class="c-content-box c-bg-grey-1  ">-->
            <!--<div class="container" style="padding: 0 50px 50px;">-->
                <!--<div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">-->
                    <!--<h2>Featured Photo Collections</h2>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-4 col-sm-6 ">-->
                            <!--<img class="overlap-image image-box-padding-10" src="http://ak.picdn.net/assets/cms/31e739efad68656ee05b238e984319a685b80776-crop-shutterstock_380590828.jpg" alt="">-->
                            <!--<div class="feature-image-description">-->
                                <!--<a href="/collections/46517019-into-the-wild.html">-->
                                    <!--<small>Collection</small>-->
                                    <!--Into the Wild-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<img class="overlap-image image-box-padding-10" src="http://ak.picdn.net/assets/cms/02fb8060f73e11f4701e298d3c5bce8bda5c03b0-crop-shutterstock_307590869.jpg" alt="">-->
                            <!--<div class="feature-image-description"-->
                            <!--&gt;-->
                                <!--<a href="/collections/45776169-true-blue.html">-->
                                    <!--<small>Collection</small>-->
                                    <!--True Blue-->
                                <!--</a>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<img class="overlap-image image-box-padding-10" src="http://ak.picdn.net/assets/cms/6e63402f5bdbdf7ff857d374a6b29e19af330d3a-crop-shutterstock_128731745.jpg" alt="">-->
                            <!--<div class="feature-image-description"-->
                            <!--&gt;-->
                                <!--<a href="/collections/45566833-oh-joy.html">-->
                                    <!--<small>Collection</small>-->
                                    <!--Oh Joy!-->
                                <!--</a>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<img class="overlap-image image-box-padding-10"  src="http://ak.picdn.net/assets/cms/54824083b8c6ff79b9208723280622631f92c470-crop-shutterstock_140759485.jpg" alt="">-->
                            <!--<div class="feature-image-description"-->
                            <!--&gt;-->
                                <!--<a href="/collections/48390889-raw-power.html">-->
                                    <!--<small>Collection</small>-->
                                    <!--Raw Power-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<img  class="overlap-image image-box-padding-10"   src="http://ak.picdn.net/assets/cms/ac4d19ccd7180e3b78e41ca0b19d1aa311c2fa47-crop-shutterstock_375135214.jpg" alt="">-->
                            <!--<div class="feature-image-description"-->
                            <!--&gt;-->
                                <!--<a href="/collections/48386975-crisp-autumn.html">-->
                                    <!--<small>Collection</small>-->
                                    <!--Crisp Autumn-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<img class="overlap-image image-box-padding-10"  src="http://ak.picdn.net/assets/cms/c55db724a020d5757f3749324f162c04febf9f1d-crop-shutterstock_370695503.jpg" alt="">-->
                            <!--<div class="feature-image-description"-->
                            <!--&gt;-->
                                <!--<a href="/collections/48353149-delhi.html">-->
                                    <!--<small>Collection</small>-->
                                    <!--Delhi-->
                                <!--</a>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    <div class="row" ng-if="showFeatureCollection">
        <div class="container-flout feature-photo-collection">
            <div class="c-content-box c-bg-grey-1  ">
                <div class="container" style="padding: 0 50px 50px;">
                    <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                        <h2>Featured Photo Collections</h2>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 " ng-repeat="feature in featureCollection">
                                <img class="overlap-image image-box-padding-10" ng-src="{{feature.imgCoverFileDescriptor}}"  alt="">
                                <div class="feature-image-description">
                                    <a href="javascript:;">
                                        <small>Collection</small>
                                        {{feature.title}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="row">-->
        <!--<div class="container-flout">-->
            <!--<div class="c-content-box">-->
                <!--<div class="container" style="padding: 30px 50px 50px;">-->
                    <!--<div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">-->
                        <!--<h2>Popular Editorial Searches</h2>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-3 col-sm-6 image-box-overly">-->
                                <!--<a href="">-->
                                    <!--<img class="overlap-image image-box-padding-10" src="http://ak.picdn.net/assets/cms/77cc199c622eeebf0864003fd69f4b7dc9e5081e-crop_283689917.jpg" alt="">-->
                                <!--</a>-->
                                <!--<div class="image-subject-overlay">-->
                                    <!--<div class="image-subject">-->
                                        <!--<h3 class="frank light" >-->
                                            <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                                <!--Donald Trump-->
                                            <!--</a>-->
                                        <!--</h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-6 image-box-overly">-->
                                <!--<a href="">-->
                                    <!--<img class="overlap-image image-box-padding-10" src="http://ak.picdn.net/assets/cms/68a1f5099409de1ddaa8427b6c3a7c9a2d0fda2f-crop_262443908.jpg" alt="">-->
                                <!--</a>-->
                                <!--<div class="image-subject-overlay">-->
                                    <!--<div class="image-subject">-->
                                        <!--<h3 class="frank light" >-->
                                            <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                                <!--Apple-->
                                            <!--</a>-->
                                        <!--</h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-6 image-box-overly">-->
                                <!--<a href="">-->
                                    <!--<img class="overlap-image image-box-padding-10" src="http://ak.picdn.net/assets/cms/37f99f1222d370c82103d59f5fd2b5d5fcdf4881-crop_383086111.jpg" alt="">-->
                                <!--</a>-->
                                <!--<div class="image-subject-overlay">-->
                                    <!--<div class="image-subject">-->
                                        <!--<h3 class="frank light" >-->
                                            <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                                <!--Olympics-->
                                            <!--</a>-->
                                        <!--</h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-6 image-box-overly">-->
                                <!--<a href="">-->
                                    <!--<img class="overlap-image image-box-padding-10"  src="http://ak.picdn.net/assets/cms/87a6c19542e60386d503f50ce82c0cef91ad120f-crop_382309468.jpg" alt="">-->
                                <!--</a>-->
                                <!--<div class="image-subject-overlay">-->
                                    <!--<div class="image-subject">-->
                                        <!--<h3 class="frank light" >-->
                                            <!--<a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=photos&amp;searchterm=Kids" class="fa-size-15">-->
                                                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                                <!--Refugees-->
                                            <!--</a>-->
                                        <!--</h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-3 col-sm-6 ">-->
                                <!--<ul class="popular-editorial-searches">-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Hillary%20Clinton">Hillary Clinton</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Ted%20Cruz">Ted Cruz</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Bernie%20Sanders">Bernie Sanders</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Marco%20Rubio">Marco Rubio</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-6">-->
                                <!--<ul class="popular-editorial-searches">-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=FBI">FBI</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Tim%20Cook">Tim Cook</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=James%20Comey">James Comey</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=iPhone">iPhone</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-6">-->
                                <!--<ul class="popular-editorial-searches">-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Rio%202016">Rio 2016</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=FIFA">FIFA</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=MLB">MLB</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=NBA">NBA</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-6">-->
                                <!--<ul class="popular-editorial-searches">-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Syria">Syria</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=EU%20Referendum">EU Referendum</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Germany">Germany</a></li>-->
                                    <!--<li><a href="/cat.mhtml?safesearch=1&amp;version=llv1&amp;media_type=images&amp;editorial=on&amp;searchterm=Russia">Russia</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    <div class="row" ng-if="showTopEditorialChooseImage || showTopEditoralChoose ">
        <div class="container-flout ">
            <div class="c-content-box">
                <div class="container" style="padding: 30px 50px 50px;">
                    <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                        <h2>Popular Editorial Searches</h2>
                        <div class="row" ng-if="showTopEditorialChooseImage">
                            <div class="col-md-3 col-sm-6 image-box-overly" ng-repeat="editoralImage in topEditorialChooseImage">
                                <a href="">
                                    <img class="overlap-image image-box-padding-10" ng-src="{{path}}/image/action/image_file/{{editoralImage.id}}?{{date}}" alt="">
                                </a>
                                <div class="image-subject-overlay">
                                    <div class="image-subject">
                                        <h3 class="frank light" >
                                            <a href="javascript:;" class="fa-size-15">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                {{editoralImage.title}}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="showTopEditoralChoose">
                            <div class="col-md-3 col-sm-6 " ng-repeat="(topEditoralChooseKey, topEditoralChooseValue) in topEditoralChoose">
                                <ul class="popular-editorial-searches">
                                    <li  ng-repeat="topEditoral in topEditoralChooseValue">
                                        <a href="javascript:;">
                                            {{topEditoral.title}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="container-flout">
            <div class="c-content-box c-bg-dark">
                <div class="container" style="padding: 30px 50px 50px;">
                    <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                        <div class="row  free-vector">
                            <div class="col-md-6">
                                <div class="col-md-6 free-vector-col">
                                    <img src="{{path}}/image/action/image_file/{{imageOfWeek[0].id}}?{{date}}" style="width: 100%;height: 135px;" alt="">
                                    <p class="pull-right">
                                        <a href="">&copy; {{imageOfWeek[0].publisherOwner['title']}}</a>
                                    </p>
                                </div>
                                <div class="col-md-6">

                                    <h1>
                                        Free Vector of the Week
                                    </h1>
                                    <a class="btn btn-danger" href="/pic-424173460.html"><i class="icon-download-alt icon-white"></i> Download</a>
                                </div>
                            </div>
                            <!--<div style="border : 2px solid red; height: 100%"></div>-->
                            <div class="col-md-6" style="border-left : 2px solid #444; height: 100%;">
                                <div class="col-md-8">
                                    <h1 style="line-height: 30px;margin: 0 0 10px; color:#fff;font-size:30px">
                                        What's a Vector?
                                    </h1>
                                    <h4>
                                        A vector image is drawn with mathematical expressions rather than pixels. As a result, you can scale a vector image as large as you wish without a loss in quality. Please note, Shutterstock vectors are formatted as .eps files and require a vector graphic editor to open.
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <img src="//www2.shutterstock.com/webstack/img/vector/storefront-pen.png" alt="">
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>







    <!-- END: CONTENT/FEATURES/FEATURES-2 -->

</div>

