<link rel="stylesheet" href="/app/resource/theme/metronic/global/lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/css/simple-line-icons.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/css/bootstrap.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/lib/uniform/css/uniform.default.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/css/bootstrap-switch.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/css/components-md.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/css/plugins-md.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/layout/css/layout.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/layout/css/light.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/layout/css/custom.min.css">
<link rel="stylesheet" href="/app/resource/theme/metronic/global/css/login.css">


<div class="user-login-5" ng-controller="BeforeLoginDefaultCtrl">
    <div class="row bs-reset">
        <!--<div class="col-md-6 bs-reset">-->
            <!--<div class="login-bg"></div>-->
        <!--</div>-->
        <div class="col-md-12 login-container bs-reset">
            <div ui-view></div>
        </div>
    </div>
</div>


<script src="/app/resource/theme/metronic/global/js/app.js" type="text/javascript"></script>
<script src="/app/resource/theme/metronic/lib/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/app/resource/theme/metronic/lib/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script src="/app/resource/theme/metronic/global/js/login.js" type="text/javascript"></script>


<script type="text/javascript">

    setTimeout(function(){
        App.init();
    },500)
</script>
