<style>
    .languages li {
        float: left;
        width: 80px;
    }
    .footerLinkNoavaran {
        color: #B1D3E0;
    }
    .footerLinkNoavaran:hover {
        color: #C2E1ED;
        text-decoration: underline;
    }
    .custom-footer-layout{
        border-top: 1px solid #CCC !important;
        background: #F4F4F4 !important;
    }
    .stats {
        text-align: center;
        color: #999;
        padding: 20px 0;
        margin-bottom: 30px;
    }
    footer {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 1.42857;
        color: #333;
    }
    footer li{
        color: #616161;
    }
    .custom-footer-layout .c-body .c-links > li > a{
        color: #616161 !important;
    }
    .custom-footer-layout .c-body .c-links > li > a:hover{
        color: #777 !important;
        text-decoration: underline;
    }
    .copyright {
        margin: 20px 0 10px;
        color: #7F8590;
        font-size: 11px;
    }
</style>

<footer class="c-layout-footer c-layout-footer-7 custom-footer-layout">
    <div class="container">
        <div class="col-xs-12 stats">
            <h4>SHUTTERSTOCK STATS:</h4>
            Over <strong class="qty">100</strong> million royalty-free stock images
            <span class="divider">/</span>
            Over <strong class="qty">800,000</strong> new stock images added weekly
        </div>


        <div class="c-prefooter">
            <div class="c-body">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h5 style="color: #777">Shutterstock.com</h5>
                        <ul class="c-links c-theme-ul">
                            <li><a href="javascript:;">Home</a></li>
                            <li><a href="javascript:;">About Us</a></li>
                            <li><a href="javascript:;">Subscribe / Renew</a></li>
                            <!--<li><a href="javascript:;">Shutterstock Footage</a></li>-->
                            <!--<li><a href="javascript:;">Shutterstock Music</a></li>-->
                            <li><a href="javascript:;">Shutterstock Blog</a></li>
                            <li><a href="javascript:;">Digital Asset Management</a></li>
                            <li><a href="javascript:;">Design Tips &amp; Tricks</a></li>
                            <!--<li><a href="javascript:;">Press / Media</a></li>-->
                            <li><a href="javascript:;">Careers</a></li>
                        </ul>
                    </div>

                    <!--Help - sales - follow us-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="color: #777">Help</h5>
                                <ul class="c-links c-theme-ul">
                                    <li><a href="javascript:;">Support Center</a></li>
                                    <li><a href="javascript:;">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="color: #777">Sales</h5>
                                <ul class="c-links c-theme-ul" style="color: #b1c4d0">
                                    <li>1-646-419-4452 (US)</li>
                                    <li>44-646-419-4452 (UK)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="color: #777">Follow Us</h5>
                                <div class="c-left">
                                    <div class="socicon">
                                        <a href="javascript:;" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover"><span aria-hidden="true" class="icon-social-twitter"></span></a>
                                        <a href="javascript:;" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover"><span aria-hidden="true" class="icon-social-facebook"></span></a>
                                        <a href="javascript:;" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover"><span aria-hidden="true" class="icon-social-youtube"></span></a>
                                        <a href="javascript:;" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover"><span aria-hidden="true" class="icon-social-tumblr"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Select a language-->
                    <div class="col-md-3 col-sm-6 col-xs-12 languages">
                        <h5 style="color: #777">Select a language</h5>
                        <ul class="list-unstyled clearfix c-links c-theme-ul">
                            <li><a href="javascript:;">فارسی</a></li>
                            <li><a href="javascript:;">Český</a></li>
                            <li><a href="javascript:;">Dansk</a></li>
                            <li><a href="javascript:;">Deutsch</a></li>
                            <li><a href="javascript:;">English</a></li>
                            <li><a href="javascript:;">Español</a></li>
                            <li><a href="javascript:;">Français</a></li>
                            <li><a href="javascript:;">Italiano</a></li>
                            <li><a href="javascript:;">Magyar</a></li>
                            <li><a href="javascript:;">Nederlands</a></li>
                            <li><a href="javascript:;">Norsk</a></li>
                            <li><a href="javascript:;">Polski</a></li>
                            <li><a href="javascript:;">Português</a></li>
                            <li><a href="javascript:;">Suomi</a></li>
                            <li><a href="javascript:;">Svenska</a></li>
                            <li><a href="javascript:;">Türkçe</a></li>
                            <li><a href="javascript:;">Русский</a></li>
                            <li><a href="javascript:;">ไทย</a></li>
                            <li><a href="javascript:;">한국어</a></li>
                            <li><a href="javascript:;">中文</a></li>
                            <li><a href="javascript:;">日本語</a></li>
                        </ul>
                    </div>


                    <!--legal-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h5 style="color: #777">Legal</h5>
                        <ul class="c-links c-theme-ul">
                            <li><a href="javascript:;">Website Terms of Use</a></li>
                            <li><a href="javascript:;">License Agreement</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 copyright text-center">
            © 2016 Shutterstock, Inc. All rights reserved.
            <a href="javascript:;" target="_blank">Made In NOAVARAN.</a>
        </div>
    </div>
</footer>