<style type="text/css">
    .form-group {
        margin: 30px 0 0 0 !important;
        margin-top: 15px !important;
    }

    .form-group input {
        margin-bottom: 5px;
    }
</style>
<div class="login-content viewLoading">

    <div ng-show="!isValid" class="portlet light bordered" style="background-color: rgba(255,255,255,0.4); margin-top: 30px">

        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">validation information</span>
            </div>
        </div>
        <div class="portlet-body">
            <p>
                {{notValidText}}
                <br>
                Please contact to your admin.
            </p>
        </div>
    </div>

    <form ng-show="isValid" novalidate class="forget-form" name="forgotPassForm" style="font-size: 13px">
        <h3 class="font-green">Forgot Password ?</h3>

        <p> Enter your e-mail address below to reset your password. </p>

        <div class=" form-group form-md-line-input form-md-floating-label">
            <input
                    ui-validate="{isRequired : 'isRequired($value)', isEmail : 'isEmail($value)'}"
                    class="form-control"
                    type="email"
                    ng-model="forgotPassEmail"
                    autocomplete="off"
                    name="email"/>
            <label for="form_control_1">Email</label>
        </div>
        <div ng-show="forgotPassForm.email.$invalid && forgotPassForm.email.$dirty">
            <span class="alert-danger" ng-show="forgotPassForm.email.$dirty && forgotPassForm.email.$error.isRequired">This field is required</span>
            <span class="alert-danger" ng-show="forgotPassForm.email.$dirty && forgotPassForm.email.$error.isEmail">This is not email</span>
        </div>
        <br>

        <div class="form-actions">
            <a ui-sref="vendorUrlNameBackend.login">
                <button type="button" id="back-btn" class="btn grey btn-default">Back</button>
            </a>
            <button ng-click="sendEmailSubmit()" ng-disabled="forgotPassForm.$invalid" type="submit"
                    class="btn blue btn-success uppercase pull-right">Submit
            </button>
        </div>
    </form>
</div>