<div class="portlet light" style="margin-top: 30px">
    <div class="portlet-title">

        <div class="md-checkbox">
            <input type="checkbox" id="checkbox1" class="md-check" ng-model="changePassword" ng-change="changePasswordFun()">
            <label for="checkbox1">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                <div class="caption">
                    <i class="fa fa-key"></i>
                    <span class="caption-subject bold font-grey-gallery uppercase"> change password ? </span>
                </div>
            </label>
        </div>


    </div>
    <div class="portlet-body">
        <span ng-if="changePassword">
            <password-inputs-directive edit-password="password.password"></password-inputs-directive>
        </span>
        <span ng-if="!changePassword">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input
                                type="password"
                                disabled="disabled"
                                class="form-control"
                                name="passwordFake"
                                id="passwordFake"
                                value="">
                        <label for="passwordFake">Password</label>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input
                                type="password"
                                disabled="disabled"
                                class="form-control"
                                name="confirmPassword"
                                id="confirmPasswordFake"
                                value="">
                        <label for="confirmPasswordFake">Confirm Password</label>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>