<ng-form name="editPasswordForm">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <!-- Password -->
            <div class="form-group form-md-line-input form-md-floating-label">
                <input
                        ui-validate="{hasMinLength : 'hasMinLength($value)', isRequired : 'isRequired($value)'}"
                        ng-model="editPassword"
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                        ng-change="emptyConfirmpass()"
                        value="">
                <label for="password">Password</label>
            </div>
            <div ng-show="editPasswordForm.password.$invalid && editPasswordForm.password.$dirty">
                <span class="alert-danger" ng-show="editPasswordForm.password.$error.hasMinLength">Minimum password length is 8 characters</span>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <!-- Confirm Password -->
            <div class="form-group form-md-line-input form-md-floating-label">
                <input
                        ui-validate="{confirmPass : 'confirmPass($value)', isRequired : 'isRequired($value)'}"
                        ng-model="confirmPassword"
                        type="password"
                        class="form-control"
                        name="confirmPassword"
                        id="confirmPassword"
                        value="">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div ng-show="editPasswordForm.confirmPassword.$invalid && editPasswordForm.confirmPassword.$dirty">
                <span class="alert-danger" ng-show="editPasswordForm.confirmPassword.$error.confirmPass">Does not match with password</span>
            </div>
        </div>
    </div>
</ng-form>