.gray-box {
    /*padding: 13px 30px;*/
    background: #333;
    background: rgba(51,51,51,.9);
    color: #fff;
    border-radius: 3px;
    display: table;
    float: right;
    width: 335px;
    padding-right: 29px;
    margin-right: 50px;
}

.c-card{
    padding: 30px !important;
}
.overlap {
    position: relative;
    margin: auto;
    top: -180px;
    -webkit-box-shadow: 0 0 40px 0 rgba(50,50,50,.5);
    -moz-box-shadow: 0 0 40px 0 rgba(50,50,50,.5);
    box-shadow: 0 0 40px 0 rgba(50,50,50,.5);
    border-radius: 3px;
    padding-top: 32px;
    background-color: #fff;
    height: 500px;
}

@media (max-width: 1200px) {
    .overlap{
        height: auto;
    }
}

.overlap:after, .overlap:before {
    top: 166px;
    height: 100%;
    width: 50px;
    background: -webkit-linear-gradient(top,rgba(255,255,255,.001) 0,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.001) 0,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
    content: "";
    position: absolute;
    z-index: 3;
}
.overlap:before {
    right: -50px;
}
.overlap:after {
    left: -50px;
}

.slider-content .c-content-box.c-size-md {
    padding: 200px 0 !important;
}

.overlap-image{
    width: 100%;
}
.image-box-padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-subject{
    background-color: rgba(0,0,0,0);
    padding: 1px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.image-box-overly:hover .image-subject{
    background-color: rgba(0,0,0,1);

}


.image-box-padding-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.font-h1 {
    font-size: 36px;
    line-height: 46px;
    font-family: Frank,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizelegibility;
}
.list-ul{
    /*list-style: none;*/
}
.list-ul span{
    text-align: right;
    padding-right: 10px;
}

.list-ul li{
    display: table-row;
    line-height: 25px;
    color : #ccc;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.image-text{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
}

.feature-photo-collection .c-content-box{
    top: -190px !important;
    position: relative;
    margin-bottom: -200px;
}
.feature-photo-collection h2{
    font-size: 30px;
    line-height: 38px;
    /*margin-bottom: 1em;*/
    margin-top: 1em;
}
.feature-image-description{
    width: 100% !important;
    height: 40px !important;
    padding-bottom: 60px;
}
.feature-image-description small{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
    color: #7e7e7e;
}
.popular-editorial-searches{
    padding: 0 14px !important;
}
.popular-editorial-searches li{
    list-style: none !important;
}
.popular-editorial-searches li a{
    text-decoration: none;
    color: #64676b;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 20px;
    font-size: 12px;
}

.no-padd {
    padding: 0 !important;
}

.image-subject-overlay{
    position: absolute;
    bottom: 0;
    margin: 10px;
    left: 5px;
    right:5px;

    padding: 0;
    font-size: 16px;
    line-height: 16px;
}
.image-subject-overlay h3 a{
    padding: 0px 14px;
    display: block;
    z-index: 1;
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
    position: relative;
    color: #fff;

}
.image-subject-overlay h3 a:after{
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,.8) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,rgba(0,0,0,.8)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,.8) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,.8) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.8) 100%);
    position: absolute;
    width: 100%;
    content: "";
    bottom: -10px;
    left: 0;
    height: 90px;
    z-index: -1;

}

.fa-size-15{
    font-size: 15px !important;
}